/**
File: HMmystyle.css
Full Name: Hy Minh Tran
Student #: 7910276
Assignment 1: Mobile Application 1 - Section 6
Created: February 28, 2019.
**/

label.error{
	margin: auto;
   background-color: #d23d24;
   color: white;
}



#cartList li, #productList li{
    margin-bottom: 1.5em;
    background-color: gainsboro;
}

#cartList li > img ,#productList li > img{
    max-height: fit-content;
}

#hmControlCart a {
    width: 200px;
    height: 30px;
    margin-top: 1em;
    margin-left:  10em;
}

#OrderSection input, #OrderSection textarea {
    font-weight: bold;
}